.topic {
  /*margin: 40px auto 0;*/
  padding-top: 40px;
}

.topic .topic-list {
  text-align: left;
}

.topic .topic-list li {
  border-bottom: 1px solid #f0f0f0;
}

.topic .topic-list li:hover {
  background-color: #f5f5f5;
}

.topic .topic-list li a {
  padding: 10px 15px;
  display: block;
}

.topic .topic-list li a .top {
  padding: 5px 0;
  display: flex;
}

.topic .topic-list li a .top span.normal {
  flex: 0 0 auto;
  background-color: #e5e5e5;
  padding: 2px 4px;
  border-radius: 3px;
  color: #999;
  font-size: 1.2rem;
}

.topic .topic-list li a .top span.normal.color {
  background-color: #80bd01;
  color: #fff;
}

.topic .topic-list li a .top h3 {
  color: #000;
  flex: 1 1 auto;
  margin-left: 5px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  font-size: 1.6rem;
}

.topic .topic-list li a .bottom {
  display: flex;
  align-items: center;
}

.topic .topic-list li a .bottom .author {
  flex: 0 0 auto;
  width: 38px;
  height: 38px;
  margin-right: 15px;
  border: 1px solid #ddd;
  border-radius: 50%;
  background-size: cover;
}

.topic .topic-list li a .bottom .info {
  flex: 1 1 auto;
}

.topic .topic-list li a .bottom .info p {
  display: flex;
  font-size: 1.2rem;
  color: #778087;
}

.topic .topic-list li a .bottom .info p span:first-child {
  flex: 1 1 auto;
}

.topic .topic-list li a .bottom .info p span:last-child {
  flex: 0 0 auto;
}

.topic .topic-title {
  padding: 5px;
  margin: 15px;
  font-size: 1.8rem;
  color: #2c3e50;
  line-height: 1.5;
  background-color: #f0f0f0;
  border-radius: 5px;
}

.topic .author-info {
  display: -webkit-flex;
  display: flex;
  align-items: center;
  font-size: 1.2rem;
  color: #34495e;
  padding: 0 15px;
}

.topic .author-info img.avatar {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin-right: 15px;
}

.topic .author-info .center {
  flex: 1;
}

.topic .author-info .center .author, .topic .author-info .center .info {
  display: block;
  padding: 5px 0;
}

.topic .author-info .right .tag {
  color: #999;
  padding: 5px 6px;
  font-size: 1.2rem;
  border-radius: 4px;
  text-align: center;
  display: block;
  background-color: #e5e5e5;
}

.topic .author-info .right .tag.color {
  background-color: #80bd01;
  color: #fff;
}

.topic .author-info .right .name {
  padding: 5px 0;
  display: block;
}

.topic .topic-content {
  padding: 15px;
  margin-top: 15px;
  border-bottom: 1px solid #d4d4d4;
}

.topic .topic-reply .topic-total {
  padding: 15px;
  border-bottom: 1px solid #d4d4d4;
}

.topic .topic-reply .topic-total strong {
  color: #42b983;
}

.topic .topic-reply .reply-list {
  margin-top: 15px;
}

.topic .topic-reply .reply-list li {
  padding: 15px;
  border-bottom: 1px solid #d4d4d4;
}

.topic .topic-reply .reply-list li .user {
  display: -webkit-flex;
  display: flex;
}

.topic .topic-reply .reply-list li .user .head {
  width: 45px;
  height: 45px;
  margin-right: 10px;
  display: inline-block;
}

.topic .topic-reply .reply-list li .user .info {
  flex: 1;
  display: -webkit-flex;
  display: flex;
  align-items: center;
}

.topic .topic-reply .reply-list li .user .info .left {
  flex: 1;
  color: #626262;
}

.topic .topic-reply .reply-list li .user .info .right {
  display: flex;
  align-items: center;
}

.topic .topic-reply .reply-list li .user .info .right .iconfont {
  font-size: 26px;
}

.topic .topic-reply .reply-list li .user .info .right .iconfont.icon-dianzan.uped {
  color: #80bd01;
}

.topic .topic-reply .reply-list li .reply-content {
  margin-top: 15px;
}

.topic .topic-reply .reply-list li .reply-content img {
  max-width: 100%;
  border: 0;
  vertical-align: middle;
}

.topic .topic-reply .reply-list li:last-child {
  border-bottom: none;
}

.topic .reply {
  margin: 0 15px;
}

.topic .reply textarea {
  width: 100%;
  background-color: #fff;
  font-size: 14px;
  padding: 15px;
  color: #313131;
  border: 1px solid #d5dbdb;
}

.topic .reply .btn-reply {
  border-bottom: 2px solid #3aa373;
  background-color: #4fc08d;
  font-size: 1.6rem;
  margin: 15px 0;
  color: #fff;
  padding: 10px;
  width: 100%;
  border-radius: 3px;
}
